<div b-k8y6yzo0ym class="container">
    <main b-k8y6yzo0ym role="main" class="pb-3">
        <div class="row" style="min-height: 80vh; display:flex; align-items: center;">
            <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
                <h3>Sign up for a new account</h3>
                <form method="post" action="/account/signup">
                    <input type="text" name="name" placeholder="Name" class="form-control" />
                    <br />
                    <input type="text" name="email" placeholder="Email" class="form-control" />
                    <br />
                    <input type="password" name="passwordhash" placeholder="Password" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Signup</button>
                </form>
            </div>
        </div>
    </main>
</div>
